<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Empresa 1: GETTY MEXICO-->
    <add key="GP_1_directorio" value="C:\GPUsuario\GettyMx_ComprasArchivos\"/>
    <add key="GP_1_directorioDestino" value="C:\GPUsuario\GettyMx_ComprasArchivos\archivosImportados\"/>
    <add key="GP_1_archivoXslt" value="C:\GPUsuario\GPCfdi\feGettyMex\fePlantillas\cadenaoriginal_3_3.xslt"/>
    <add key="GP_1_archivo1" value="CT.xml"/>
    <add key="GP_1_archivo2" value="BN.xml"/>
    <add key="GP_1_archivo3" value="PL.xml"/>
    <add key="GP_1_archivo4" value="XC.xml"/>
    <add key="GP_1_archivo5" value="XF.xml"/>

    <add key="GP_1_FormatoFecha" value="dd/MM/yyyy"/>

    <add key="GP_1_TAXSCHID" value="GENERAL"/>
    <add key="GP_1_SHIPMTHD" value="GENERICO"/>

    <!-- Retenciones -->
    <add key="GP_1_ret_ISR" value="C-RETISREXTD"/>
    <add key="GP_1_ret_IVA" value="C-RETIVA16D"/>

    <!-- Traslados -->
    <add key="GP_1_tra_IVA0" value="C-IVA0D"/>
    <add key="GP_1_tra_IVA11" value="C-IVA11D"/>
    <add key="GP_1_tra_IVA16" value="C-IVA16D"/>
    <add key="GP_1_tra_IEPS" value="C-IEPS"/>

    <!-- impuestos locales traslados -->
    <add key="GP_1_loctra_ISH" value="C-ISH"/>

    <!-- version GP -->
    <add key="GP_1_version" value="2010"/>

  </appSettings>
  <connectionStrings>
    <add name="GP_1" connectionString="data source=10.1.1.22;initial catalog=MEX10;User Id=sa;Password=sa22;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
    <!-- <add name="GP_1" connectionString="data source=10.1.1.22;initial catalog=MEX10;integrated security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Microsoft.Dynamics.GP.eConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="14.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>

      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Microsoft.Dynamics.GP.eConnect.Serialization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="14.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
